.ruleRow {
  border-bottom: 1px solid var(--colors-border);
}

.ruleRow:hover {
  background-color: var(--colors-bg-hover);
}


.editButton {
  background-color: var(--colors-primary);
  color: var(--colors-white);
  border: none;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-small);
}

.editButton:hover {
  background-color: var(--colors-primary-dark);
}