services:
  frontend:
    image: frontend-image
    build: .
    restart: always
    tty: true
    volumes:
      - ./host-frontend-root:/opt/frontend-container-app-root/
      - ./fix-permissions.sh:/fix-permissions.sh
    environment:
      - HOST=localhost
    network_mode: host
    entrypoint: ["/bin/sh", "-c", "chmod +x /fix-permissions.sh && /fix-permissions.sh && /bin/sh"]
