services:
  frontend:
    image: frontend-image
    build: .
    restart: always
    tty: true
    volumes:
      - ./host-frontend-root:/opt/frontend-container-app-root/
    environment:
      - HOST=0.0.0.0
    network_mode: bridge
