services:
  frontend:
    image: ${FRONTEND_IMAGE_NAME}
    build:
      context: .
      args:
        - FRONTEND_WORKDIR=${FRONTEND_WORKDIR}
        - HOST_FRONTEND_ROOT_PATH=${HOST_FRONTEND_ROOT_PATH}
        - CONTAINER_APP_ROOT=${CONTAINER_APP_ROOT}
        - FRONTEND_UID=${FRONTEND_UID}
        - FRONTEND_GID=${FRONTEND_GID}
    env_file:
      - .env
    restart: always
    tty: true
    volumes:
      - ${HOST_FRONTEND_ROOT_PATH}:${CONTAINER_APP_ROOT}/
      - ${FIX_PERMISSIONS_SCRIPT_PATH}:/fix-permissions.sh
    environment:
      - HOST=${HOST_ENV}
    network_mode: host
    ipc: host  # Playwrightのためのipc共有設定
    entrypoint: ["/bin/sh", "-c", "chmod +x /fix-permissions.sh && /fix-permissions.sh && /bin/sh"]
