@import '../tokens.module.css';

.description {
  font-family: var(--font-family);
  line-height: 1.5;
  margin: var(--spacing-xs) 0;
}

.small {
  font-size: var(--font-size-xs);
}

.medium {
  font-size: var(--font-size-sm);
}

.default {
  color: var(--color-text);
}

.muted {
  color: var(--color-text-light);
}
