@import '../tokens.module.css';

.title {
  font-family: var(--font-family);
  color: var(--color-text);
  margin: 0;
  line-height: 1.4;
}

.level1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-lg);
}

.level2 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-md);
}

.level3 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-md);
}

.level4,
.level5,
.level6 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  margin-bottom: var(--spacing-sm);
}
